.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
}

.field,
.field-age,
.field-gender {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input {

    padding: 1px;
}

.field-age {
    padding: 1px;
    align-self: flex-start;
}

.field-gender {
    padding: 1px;
    align-self: normal;
}

.input-error {
    border-color: #ff0000;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.25);
}

.submit-button-block {
    flex: 1;
    align-self: normal;
    padding-top: 10px;
}

.button {
    width: 100%;
    font-size: 13px;
    padding: 5px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: transparent;
    transition: 0.12s ease-in-out;
    outline: none;
    white-space: nowrap;
}

.button:hover {
    background-color: rgb(245, 245, 245);
}

.button:active {
    transform: scale(0.92);
}
